# site properties and page defaults
title: TAS LAB
subtitle: Trustworthy AI and Autonomous Systems Laboratory
description: Welcome to the Trustworthy AI and Autonomous Systems Laboratory at the Polytechnic University of Hong Kong. Our research focuses on the development of trustworthy autonomous systems, including autonomous vehicles, drones, and robots.
header: images/AboutPolyU_Campus9.jpg
footer: images/AboutPolyU_Campus1.png
# footer: <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=CmM_RDswnJ2Dr32mHU_bpOf-65JnKL60enMo8jUhdWw&co=224760&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
proofer: false

# site social media and other links
links:
  email: tas.lab.polyu@gmail.com
  orcid: 0000-0003-4158-0193
  google-scholar: N-AFqt8AAAAJ
  github: https://github.com/PolyU-TASLAB
  twitter: PolyU-TASLAB
  youtube: PolyU-TASLAB

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post
  # markdown files in /_projects_info
  - scope:
      type: "events"
    values:
      layout: post
  - scope:
      type: "opensource"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true
  # generate page for each project
  events:
    output: true
  blog:
    output: true
  opensource:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
