---
---

ul,
ol {
  margin: 8px 0;
  padding-left: 28px;
}

ul {
  list-style-type: square;
}

li {
  margin: 3px 0;
  padding-left: 6px;
  text-align: justify;
  line-height: var(--spacing);

  ul,
  ol {
    margin: 0;
  }
}
