---
---

ul,
ol {
  margin: 6px 0;
  padding-left: 24px;
}

ul {
  list-style-type: square;
}

li {
  margin: 2px 0;
  padding-left: 4px;
  text-align: justify;
  line-height: var(--spacing);
  font-size: 0.95rem;

  ul,
  ol {
    margin: 0;
  }
}
